@model Tuple<byte, string>

<span class="fa fa-user">&nbsp;</span><span>@Model.Item2.Substring(0, System.Math.Min(Model.Item2.Length,7)) </span>&nbsp;<a class="text-success fa fa-plus" onclick="createNewEvent(@Model.Item1, '@Model.Item2')" href="#"></a>