@model Tuple<byte, string>

<span class="fa fa-user">&nbsp;</span><span>@Model.Item2</span>&nbsp;<a class="text-success fa fa-plus" onclick="createNewEvent(@Model.Item1, '@Model.Item2')" href="#"></a>