.nav-link {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.active {
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
